#content {
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  width: 80px;
}

 #hero-img {
  width: auto;
}

.icon {
  width: 80px;
}

body {
  background-color: #FFFECB;
  text-align: center;
}

header {
  background-color: #8c4f40;
}

nav a {
  background-color: #FFFECB;
  color: #8c4f40;
  text-decoration: none;
}

nav a:hover {
  background-color: #8c4f40;
  color: white;
}

.home-title {
  color: #8c4f40;
}

h4 {
  color: #8c4f40;
}

#hero-msg h1, #hero-msg h4 {

}

.book, .join {
  background-color: #FFFECB;
  color: #386DD1;
  text-decoration: none;
}

.book:hover, .join:hover{
  background-color: #8c4f40;
  color: white;
}

.msg {
  background-color: #FFFECB;
}

.msg h2 {
  color: #8c4f40;
}

.msg p {
  color: #8c4f40;
}

.button-box {

}

main section {

}

#background {
  height: 725px;
  background-color: #FFFECB;
}

footer {
  background-color: #FFFECB;
  color: #8c4f40;
}

footer a {
  color: #386DD1;
  text-decoration: none;
}

footer a:hover{
  color: white;
  background-color: #8c4f40;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
  background-color: #8c4f40;
}    