@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Lato&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
}

 #hero-img {
  width: auto;
}

.icon {
  width: 80px;
}

body {
  background-color: #FFFECB;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #8c4f40;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  background-color: #FFFECB;
  color: #8c4f40;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #8c4f40;
  color: white;
}

.home-title {
  color: #8c4f40;
  font-family: 'Bungee Inline';
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: #8c4f40;
}

.book, .join {
  background-color: #FFFECB;
  color: #386DD1;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover{
  background-color: #8c4f40;
  color: white;
}

.msg {
  background-color: #FFFECB;
  padding: 35px;
}

.msg h2 {
  color: #8c4f40;
  font-family: 'Bungee Inline';
  margin: 0;
}

.msg p {
  color: #8c4f40;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
}

.button-box {

}

main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background-color: #FFFECB;
}

footer {
  background-color: #FFFECB;
  color: #8c4f40;
  padding: 25px 50px;
  margin-top: 200px;
}

footer a {
  color: #386DD1;
  text-decoration: none;
}

footer a:hover{
  color: white;
  background-color: #8c4f40;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
  background-color: #8c4f40;
}

footer .social img {
  padding-top: 15px;
}

.icon {
  padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #000000;
}