@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono&family=Roboto+Slab&family=Rokkitt&display=swap');

body {
  background-color: #3d3b8e;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto Mono', 'Lato', Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkit', 'Roboto Slab', Times;
}

/*header css----------------------*/

.nav-grid {
  display: grid;
  grid-template-columns: 200px repeat(4,1fr);
  grid-template-rows: repeat(4, 50px);
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #86A5D9;
  background-size: 100%;
  color: white;
  font-size: 1.5em;
  padding: 25px;
  grid-column: 2/span 4;
  grid-row: 2/4;
}

nav a {
  width: 100px;
  margin-left: 100px ;
  margin-right: 100px;
  text-align: center;
  border-radius: 10px;
  height:30px;
}
nav a:hover {
  background-color: #E0E1DD;
  color: #3d3b8e;
}

.logo {
  size: 100%;
}

#logo_link {
  grid-column: 1/2;
  grid-row: 1/5;
  
}

/*hero area css */

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 900px 450px 1fr;
}

#hero {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px 200px;
}

#hero-msg {
  justify-items:center;
  background-color: #E0E1DD;
  width: 200px;
  padding: 10px;
  border-radius: 10%;
  grid-column: 2/3;
  grid-row: 2/3;
}

.button-box {
  background-color: #86A5D9;
  font-size: 18px;
  text-align: center;
  width: 80px;
  padding: 15px 15px;
  margin-left: 60px;
  border-radius: 30px;
}

.button-box:hover{
  background-color: darkgray;
  color: #3d3b8e;
}

#hero-image {
  width: 800px;
  height: 600px;
  margin-left: 50px;
  z-index: -1;
}

.goal-list {
  background-color: #E0E1DD;
  width: 450px;
  border-radius: 10px;
  grid-column: 3/4;
  padding-left: 10px;
}

.goal-list h2 {
  font-size: 2.5em;
  text-align: center;
}

.goal-list ol {
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 25px;
  text-align: left;
}


/*footer css----------------------*/

footer {
  display:flex;
  justify-content: space-around;
  background-color: #86A5D9;
  color: white;
  font-size: 1.5em;
  padding: 25px;
}

footer a {
  width: 100px;
  text-align: center;
  border-radius: 10px;
  height:40px;
}

footer a:hover {
  background-color: #E0E1DD;
  color: #3d3b8e;
}

/*home main css-------------------*/

.container {
  position: relative;
}

.container img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container p {
  background-color: #E0E1DD;
  margin: 20px;
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*blog main css-------------------*/

main {
  display: grid;
  grid-template-columns: 80px 200px 200px 200px 200px 200px 100px 300px 100px;
  grid-template-rows: 50px 200px 200px 200px 200px 100px 100px;
}

.blogpost {
  background-color: #E0E1DD;
  width: 1000px;
  overflow: scroll;
  border-style: solid;
  border-width: 5px;
  grid-column: 2/7;
  grid-row: 2/7;
  
}

#pic1 {
  width: 300px;
  grid-column: 5/6;
  grid-row: 3/4;
  margin:10px;
}

#pic2 {
  width: 300px;
  grid-column: 8/9;
  grid-row: 2/3;
  border-radius: 10px;
}

.archive {
  background-color: #E0E1DD;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  grid-column: 8/9;
  grid-row: 3/5;
}

.archive h3 {
  font-size: 2em;
}

.archive ul {
  font-size: 1.5em;
}

#previous {
  text-decoration: none;
  color: white;
  background-color: #86A5D9;
  justify-items: start;
  padding: 8px 8px;
  height: 20px;
  width: 100px;
  grid-column: 2/3;
  grid-row: 7/8;
}

#next {
  text-decoration: none;
  color: white;
  background-color: #86A5D9;
  justify-items: end;
  padding: 8px 8px;
  height: 20px;
  width: 100px;
  grid-column: 6/7;
  grid-row: 7/8;
}

#previous:hover {
  background-color: #E0E1DD;
  color: #000;
}

#next:hover {
  background-color: #E0E1DD;
  color: #000;
}

.round {
  border-radius: 50%;
}

/*forum main css------------------*/

/*tools main css------------------*/